.ProgressDots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 54px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}

.Dot:not(:last-child) {
  margin-right: 10px;
}

.ProgressDots .LabelBack {
  position: absolute;
  left: 30px;
  top: calc(50% + 2px);
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
}
