.ProgressDots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 54px;
  padding: 10px 0 20px 0;
  position: relative;
}

.Dot:not(:last-child) {
  margin-right: 10px;
}

.ProgressDots .LabelBack {
  position: absolute;
  left: 30px;
  top: calc(50% - 3px);
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
}
