.Tile {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --tile-main-color: var(--accent-main);
  background-color: white;
  color: var(--tile-main-color);
  border: 2px solid var(--utilities-gray);
  padding: 20px 18px;
  text-align: center;;
}

.Tile.red {
  --tile-main-color: var(--accent-tertiary);
}
.Tile.yellow {
  --tile-main-color: var(--accent-secondary);
}
.Tile.black {
  --tile-main-color: var(--utilities-black);
}

.Tile.selected {
  border-color: white;
  color: var(--utilities-white-70);
  background-color: var(--tile-main-color);
  box-shadow: 0px 2px 25px rgba(89, 90, 106, 0.25);
}

.Tile .TitleCard {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
