.Dot {
  height: 10px;
  width: 10px;
  background-color: var(--utilities-white-40);
  border-radius: 50%;
  display: inline-block;
  transition: all var(--transition-base);
}

.Dot.active {
  background-color: white;
}
