.Confirmation {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}

.Confirmation img {
  margin-bottom: 43px;
}

.Confirmation .Title {
  color: white;
  font-weight: bold;
}

.Confirmation .Paragraph {
  color: var(--utilities-white-70);
  max-width: 255px;
  margin-bottom: 20px;
}

.Confirmation .Button {
  align-self: stretch;
  background: white;
  margin-top: 64px;
}

.Confirmation .LabelButton {
  color: var(--utilities-black);
}
