@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Slide animation */

.slide-enter .WizardStep,
.slide-exit .WizardStep,
.slide-backward-enter .WizardStep,
.slide-backward-exit .WizardStep {
  transition: transform 750ms ease-in-out;
}

.slide-enter .WizardStep {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active .WizardStep {
  transform: translateX(0%);
}

.slide-exit .WizardStep {
  position: absolute;
  top: 84px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
}

.slide-exit-active .WizardStep {
  transform: translateX(-100%);
}

.slide-backward-enter .WizardStep {
  transform: translateX(-100%);
}

.slide-backward-enter.slide-backward-enter-active .WizardStep {
  transform: translateX(0%);
}

.slide-backward-exit .WizardStep {
  position: absolute;
  top: 84px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
}

.slide-backward-exit-active .WizardStep {
  transform: translateX(100%);
}

.slide-exit.Confirmation,
.slide-backward-exit.Confirmation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 300ms ease-in-out;
  transform: scale(1), translateX(0%);
  opacity: 1;
}

.slide-exit-active.Confirmation,
.slide-backward-exit-active.Confirmation {
  transform: scale(0.9), translateX(-100%);
  opacity: 0;
}

/* Complete animation */
.complete-enter.Confirmation,
.complete-exit .WizardStep,
.complete-exit .ProgressDots {
  transition: all 750ms ease-in-out;
}

.complete-enter.Confirmation {
  transform: scale(0.9);
  opacity: 0;
}

.complete-enter.complete-enter-active.Confirmation {
  transform: scale(1);
  opacity: 1;
}

.complete-exit .ProgressDots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0%);
  opacity: 1;
}

.complete-exit .WizardStep {
  position: absolute;
  top: 84px;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(0%);
  opacity: 1;
}

.complete-exit-active .ProgressDots {
  opacity: 0;
  transform: translateY(-100%);
}

.complete-exit-active .WizardStep {
  opacity: 0;
  transform: translateY(100%);
}
